@model ProjectRepoFrontEnd.Models.ListViewModel

@{
    ViewData["Title"] = "ListItem";
}

<h1>GetItem View</h1>

<div>
    <h4>ListViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item)
        </dd>
    </dl>
</div>
<div>
    <!---@@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |-->

    <a asp-action="Index">To Home</a>
    <br />
    <a asp-action="GetList">To List</a>
</div>
