@model ProjectRepoFrontEnd.Models.ListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>

    <h3><b>Forms - HTTPGET Method</b></h3>
    @Html.ActionLink("GetList", "GetList")

<br />
 
    @using (Html.BeginForm("GetItem", "Home", FormMethod.Get))
    {
        <table>
            <tr>
                <td>Enter ID: </td>
                <td>@Html.TextBox("Id")</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>

    }

</div>