*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sql Server/shawdatslogininfo.7z
/Apps/WebApi/.vs/WebApi/v16
