################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sql Server/shawdatslogininfo.7z
/Sql Server/shawdatslogininfo.txt
/Apps/WebApi/.vs/WebApi/v16
